## Package

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np

# Read Data

In [2]:
content = pd.read_csv(r'Content.csv')
reaction = pd.read_csv(r'Reactions.csv')
reaction_type = pd.read_csv(r'ReactionTypes.csv')

# Clean Data

In [3]:
content.info(), reaction.info(), reaction_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes

(None, None, None)

In [4]:
# Drop 'Unnamed: 0' column
content.drop(content.columns[0], axis=1, inplace=True)
reaction.drop(reaction.columns[0], axis=1, inplace=True)
reaction_type.drop(reaction_type.columns[0], axis=1, inplace=True)

# Dropping 'URL' and 'User ID'as it does not needed to do the analysis
content.drop(['URL'], axis=1, inplace=True)
content.drop(['User ID'], axis=1, inplace=True)
reaction.drop(['User ID'], axis=1, inplace=True)

# Change column name for better readability
content.rename(columns={'Type' : 'Content Type'}, inplace=True)
reaction.rename(columns={'Type' : 'Reaction Type'}, inplace=True)
reaction_type.rename(columns={'Type' : 'Reaction Type'}, inplace=True)

In [5]:
# Check 'reaction' data
null_rows = reaction[reaction.isnull().any(axis=1)]
null_rows

                                 Content ID Reaction Type             Datetime
0      97522e57-d9ab-4bd6-97bf-c24d952602d2           NaN  2021-04-22 15:17:15
46     9f737e0a-3cdd-4d29-9d24-753f4e3be810           NaN  2020-12-04 20:00:31
62     230c4e4d-70c3-461d-b42c-ec09396efb3f           NaN  2021-03-19 08:19:38
94     356fff80-da4d-4785-9f43-bc1261031dc6           NaN  2020-08-28 23:43:55
102    01ab84dd-6364-4236-abbb-3f237db77180           NaN  2021-02-08 21:55:56
...                                     ...           ...                  ...
25445  b4cef9ef-627b-41d7-a051-5961b0204ebb           NaN  2020-11-30 15:26:32
25449  7a79f4e4-3b7d-44dc-bdef-bc990740252c           NaN  2021-04-04 19:39:36
25454  435007a5-6261-4d8b-b0a4-55fdc189754b           NaN  2021-01-04 20:28:29
25499  4e4c9690-c013-4ee7-9e66-943d8cbd27b7           NaN  2021-05-25 18:05:31
25540  75d6b589-7fae-4a6d-b0d0-752845150e56           NaN  2021-04-25 05:09:20

[980 rows x 3 columns]

In [6]:
# Clean 'reaction' data
reaction.dropna(inplace=True)
reaction.reset_index(drop=True, inplace=True)
reaction

                                 Content ID Reaction Type             Datetime
0      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
2      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
3      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
4      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
...                                     ...           ...                  ...
24568  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
24569  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
24570  75d6b589-7fae-4a6d-b0d0-752845150e56    interested  2020-09-12 03:54:58
24571  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
24572  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[24573 rows x 3 columns]

In [7]:
# Recheck 'reaction' data
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   Reaction Type  24573 non-null  object
 2   Datetime       24573 non-null  object
dtypes: object(3)
memory usage: 576.1+ KB

In [8]:
# Check for column unique value
unique_value = reaction['Reaction Type'].unique()
print(sorted(unique_value))

print("")

unique_value = reaction_type['Reaction Type'].unique()
print(sorted(unique_value))

print("")

unique_value = content['Content Type'].unique()
print(sorted(unique_value))

print("")

unique_value = content['Category'].unique()
print(sorted(unique_value))

['adore', 'cherish', 'disgust', 'dislike', 'hate', 'heart', 'indifferent', 'interested', 'intrigued', 'like', 'love', 'peeking', 'scared', 'super love', 'want', 'worried']

['adore', 'cherish', 'disgust', 'dislike', 'hate', 'heart', 'indifferent', 'interested', 'intrigued', 'like', 'love', 'peeking', 'scared', 'super love', 'want', 'worried']

['GIF', 'audio', 'photo', 'video']

['"animals"', '"cooking"', '"culture"', '"dogs"', '"food"', '"public speaking"', '"science"', '"soccer"', '"studying"', '"technology"', '"tennis"', '"veganism"', 'Animals', 'Culture', 'Education', 'Fitness', 'Food', 'Healthy Eating', 'Public Speaking', 'Science', 'Soccer', 'Studying', 'Technology', 'Travel', 'Veganism', 'animals', 'cooking', 'culture', 'dogs', 'education', 'fitness', 'food', 'healthy eating', 'public speaking', 'science', 'soccer', 'studying', 'technology', 'tennis', 'travel', 'veganism']

The value in 'Category column' seems to have a problem. We will remove the quotation mark.

In [9]:
# Function to remove quotes and make the string case-insensitive
def clean_category(category):
    return re.sub(r'"', '', category).lower()

# Apply the function to the 'Category' column
content['Category'] = content['Category'].apply(clean_category)

In [10]:
# Check duplicate for 'content' and 'reaction_type' as it has no missing value
print(content.duplicated().sum())
print(reaction.duplicated().sum())
print(reaction_type.duplicated().sum())

0
0
0

The data seems to be clean now and ready to be used for further analysis.

# Merge Data

In [11]:
reaction_merged = pd.merge(reaction, reaction_type, on='Reaction Type', how='inner')
reaction_merged

,Content ID,Reaction Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,positive,30
...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,negative,10
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,positive,45
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,positive,30
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,negative,12
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,positive,70

In [12]:
all_merged = pd.merge(content, reaction_merged, on='Content ID', how='inner')
all_merged

,Content ID,Content Type,Category,Reaction Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,dislike,2021-06-17 12:22:51,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,scared,2021-04-18 05:13:58,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,disgust,2021-01-06 19:13:01,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,studying,interested,2020-08-23 12:25:58,positive,30
...,...,...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,dislike,2020-06-27 09:46:48,negative,10
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,intrigued,2021-02-16 17:17:02,positive,45
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,interested,2020-09-12 03:54:58,positive,30
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,worried,2020-11-04 20:08:31,negative,12
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,cherish,2021-01-04 04:55:11,positive,70

In [13]:
all_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     24573 non-null  object
 1   Content Type   24573 non-null  object
 2   Category       24573 non-null  object
 3   Reaction Type  24573 non-null  object
 4   Datetime       24573 non-null  object
 5   Sentiment      24573 non-null  object
 6   Score          24573 non-null  int64
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

# Analysis

In [14]:
all_merged['Content Type'].value_counts()

Content Type
photo    6589
video    6245
GIF      6079
audio    5660
Name: count, dtype: int64

In [15]:
all_merged['Category'].value_counts()

Category
animals            1897
science            1796
healthy eating     1717
food               1699
technology         1698
culture            1676
cooking            1664
travel             1647
soccer             1457
education          1433
fitness            1395
studying           1363
dogs               1338
tennis             1328
veganism           1248
public speaking    1217
Name: count, dtype: int64

In [16]:
all_merged['Sentiment'].value_counts()

Sentiment
positive    13807
negative     7695
neutral      3071
Name: count, dtype: int64

In [17]:
all_merged['Reaction Type'].value_counts()

Reaction Type
heart          1622
scared         1572
peeking        1559
hate           1552
interested     1549
dislike        1548
adore          1548
want           1539
love           1534
disgust        1526
like           1520
super love     1519
indifferent    1512
cherish        1501
worried        1497
intrigued      1475
Name: count, dtype: int64

In [28]:
all_merged.groupby(['Category'])['Score'].agg('sum')

# Another Way for better groupby if there is a lot to calculate
#all_merged_group = all_merged.groupby(['Category'])
#all_merged_group['Score'].sum().reset_index()

           Category  Score
0           animals  74965
1           cooking  64756
2           culture  66579
3              dogs  52511
4         education  57436
5           fitness  55323
6              food  66676
7    healthy eating  69339
8   public speaking  49264
9           science  71168
10           soccer  57783
11         studying  54269
12       technology  68738
13           tennis  50339
14           travel  64880
15         veganism  49619

# Export Data

In [19]:
all_merged.to_csv('Cleaned data.csv', index=False)